body  {
  margin: 20px;
  padding: 0px;
  text-align: center;
  background-color: black;
}

h1  {
  font-family: 'Rokkitt', serif;
  color: antiquewhite;
  letter-spacing: 1px;
}

h2  {
  font-family: 'Rokkitt', serif;
  color: antiquewhite;
  letter-spacing: 2px;
}

.container  {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 100px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item  {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image  {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}


.gallery-item .image img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.gallery-item:hover .image img  {
  transform: scale(1.5);
}

.gallery-item .text  {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 18px;
  pointer-events: none;
  z-index: 4;
  transition: 1.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.527);
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.gallery-item:hover .text  {
  opacity: 1;
}

.w-1  {
  grid-column: span 1;
}
.w-2  {
  grid-column: span 2;
}
.w-3  {
  grid-column: span 3;
}
.w-4  {
  grid-column: span 4;
}

.h-1  {
  grid-row: span 1;
}
.h-2  {
  grid-row: span 2;
}
.h-3  {
  grid-row: span 3;
}
.h-4  {
  grid-row: span 4;
}

@media (max-width: 840px)  {
  .container  {
    grid-template-columns: 100%;
    grid-auto-rows: 100px;
  }

  .w-1, .w-2, .w-3, .w-4  {
    grid-column: span 1;
  }

  .h-1, .h-2, .h-3, .h-4  {
    grid-row: span 3; 
  }

}
